################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FSL.XF3/.vs/FSL.XF3/v14
