################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FSL.XF3/.vs/FSL.XF3/v14
/FSL.XF3/FSL.XF3/FSL.XF3/bin/Debug
/FSL.XF3/FSL.XF3/FSL.XF3/obj/Debug
/FSL.XF3/FSL.XF3/FSL.XF3.Droid/bin/Debug
/FSL.XF3/FSL.XF3/FSL.XF3.Droid/obj/Debug
/FSL.XF3/FSL.XF3/FSL.XF3.iOS/obj/iPhone/Debug
/FSL.XF3/packages
/.vs/FSL.ConsumingApiInXamarinForms.Api/v14
/.vs/FSL.XFApi/v14
/FSL.XFApi/bin
/FSL.XFApi/obj/Debug
/packages
*.user
